<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@1.0.2/css/bulma.min.css">
    <link rel="stylesheet" href="static/style.css">
    <title>Portfolio - Vince</title>
</head>

<body>
    <div class="container is-max-desktop">
        <section class="hero mb-3">
            <div class="hero-body">
                <div class="columns">
                    <div class="column is-one-third">
                        <img src="assets/Profile pic.jpg"
                            onerror="this.src='https://t3.ftcdn.net/jpg/05/16/27/58/360_F_516275801_f3Fsp17x6HQK0xQgDQEELoTuERO4SsWV.jpg'" />
                    </div>
                    <div class="column">
                        <p
                            class="leader text is-size-4-desktop is-size-5-tablet is-size-5-mobile is-family-monospace has-text-weight-semibold">
                            {{ static.leader }}
                        </p>
                        <p class="text mt-3">{{ static.follower }}</p>
                    </div>
                </div>
            </div>
        </section>

        <section class="block mx-6" id="solo-projects">
            <h2 class="title">Solo projects</h2>
            {% for project in projects.solo %}
            <a class="box has-border mb-5" href="{{project.url}}">
                <h3 class="subtitle is-4">{{project.name}}</h3>
                <div class="columns">
                    <div class="column">
                        <h4 class="subtitle mb-2">Description</h4>
                        <p class="text p-2">{{project.description}}</p>
                    </div>
                    <div class="column is-narrow">
                        <h4 class="subtitle mb-2">Technology</h4>
                        <table class="table">
                            {% for header, value in project.technology %}
                            <tr>
                                <th>{{header}}</th>
                                <td>{{value}}</td>
                            </tr>
                            {% endfor %}
                        </table>
                    </div>
                    <div class="column">
                        <h4 class="subtitle mb-2">Keywords</h4>
                        {% for keyword in project.keywords %}
                        <span class="tag is-medium m-2">{{keyword}}</span>
                        {% endfor %}
                    </div>
                </div>
            </a>
            {% endfor %}
        </section>

        <section class="block mx-6" id="collaborations">
            <h2 class="title">Collaborations</h2>
            <div class="box has-border mb-5">
                <h3 class="subtitle is-4">🔒 developer-productivity</h3>
                <div class="columns is-multiline">
                    <div class="column is-half">
                        <h4 class="subtitle mb-2">Contributions (team of 4)</h4>
                        <table class="table">
                            <tr>
                                <th></th>
                                <th>commits</th>
                                <th>lines++</th>
                                <th>lines--</th>
                            </tr>
                            <tr>
                                <td>Me</td>
                                <td>77</td>
                                <td>168,609</td>
                                <td>154,889</td>
                            </tr>
                            <tr>
                                <td>Total</td>
                                <td>125</td>
                                <td>191,416</td>
                                <td>157345</td>
                            </tr>
                            <tr>
                                <td>Perc</td>
                                <td>62%</td>
                                <td>88%</td>
                                <td>98%</td>
                            </tr>
                        </table>
                    </div>
                    <div class="column">
                        <h4 class="subtitle mb-2">Technology</h4>
                        <table class="table">
                            <tr>
                                <th>Language</th>
                                <td>C#</td>
                            </tr>
                            <tr>
                                <th>Framework</th>
                                <td>Razor</td>
                            </tr>
                            <tr>
                                <th>License</th>
                                <td>none</td>
                            </tr>
                        </table>
                    </div>
                    <div class="column is-half">
                        <h4 class="subtitle mb-2">Description</h4>
                        <p class="text p-2">Analytics and insights on GitHub repo activity: issue cycle time, issues
                            solved per week, developer productivity, and release frequency</p>
                    </div>
                    <div class="column">
                        <h4 class="subtitle mb-2">Keywords</h4>
                        <span class="tag is-medium m-2">Testing</span>
                        <span class="tag is-medium m-2">Async</span>
                        <span class="tag is-medium m-2">HTTP requests</span>
                        <span class="tag is-medium m-2">Bootstrap</span>
                    </div>
                </div>
            </div>
            <a class="box" href="https://github.com/vince-kr/swdev-ca2-library">
                <h3 class="subtitle is-4">library-pos</h3>
                <div class="columns is-multiline">
                    <div class="column is-half">
                        <h4 class="subtitle mb-2">Contributions (team of 3)</h4>
                        <table class="table">
                            <tr>
                                <th></th>
                                <th>commits</th>
                                <th>lines++</th>
                                <th>lines--</th>
                            </tr>
                            <tr>
                                <td>Me</td>
                                <td>84</td>
                                <td>3,910</td>
                                <td>2,485</td>
                            </tr>
                            <tr>
                                <td>Total</td>
                                <td>153</td>
                                <td>8,854</td>
                                <td>4,660</td>
                            </tr>
                            <tr>
                                <td>Perc</td>
                                <td>55%</td>
                                <td>44%</td>
                                <td>53%</td>
                            </tr>
                        </table>
                    </div>
                    <div class="column">
                        <h4 class="subtitle mb-2">Technology</h4>
                        <table class="table">
                            <tr>
                                <th>Language</th>
                                <td>Java</td>
                            </tr>
                            <tr>
                                <th>Framework</th>
                                <td>none</td>
                            </tr>
                            <tr>
                                <th>License</th>
                                <td>none</td>
                            </tr>
                        </table>
                    </div>
                    <div class="column is-half">
                        <h4 class="subtitle mb-2">Description</h4>
                        <p class="text p-2">Simple CLI library management system with a focus on separation of concerns
                        </p>
                    </div>
                    <div class="column">
                        <h4 class="subtitle mb-2">Keywords</h4>
                        <span class="tag is-medium m-2">Testing</span>
                        <span class="tag is-medium m-2">CLI</span>
                        <span class="tag is-medium m-2">Standard input</span>
                    </div>
                </div>
            </a>

        </section>
        <section class="block mx-6" id="about-me">
            <h2 class="title">More about me</h2>
            <div class="columns">
                <div class="column is-two-thirds">
                    <p class="text has-text-justified">{{ static.about_me }}</p>
                </div>
                <div class="column"></div>
            </div>
        </section>
        <div class="footer"></div>
    </div>
</body>

</html>